{% extends 'parent.html' %}

{% block content %}
<div class="container">
    {% for book in books %}
            <div class="row">
            <!--- Image for book-->
            <div class="col s7 l4">
                <div class="card">
                    <div class="card-image">
                    <img src="{{book.image}}" alt="book_image">
                    </div>
                </div>
            </div>
            <div class="col s5 l8">
            <!--- Book description-->
                    <div class="card-content">
                     <h5><span class="card-title">{{book.name}}</span></h5>
                    <p><b>Author:</b> {{book.author}}</p>
                    <p><b>Cover:</b> {{book.cover}}</p>
                    <p><b>Language:</b> {{book.language}}</p>
                    <p><b>Pages:</b> {{book.pages}}</p>
                    <p><b>Publisher:</b> {{book.publisher}}</p>
                    <p class="price"> <b>Price: </b>{{book.price}}</p>
                    <a class="btn waves-effect waves-light" href="https://www.amazon.com/" target="_blank">Buy Book</a>
                    </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}