{% extends 'parent.html' %} 
{% block content %} 
<div class="container">

<h1> All Categories</h1>

    <ul class="collapsible" data-collapsible="accordion">
        {% for cat in categories %}
        <li>
            <div class="collapsible-header">
                <div class="col s11">
                    <a class="waves-effect waves-light btn btn_small red darken-1" href="#">Delete</a>
                    <strong>{{ cat.category_name }}</strong>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Category button -->

    <div class="row">
        <div class="col">
            <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
                <i class="material-icons right">playlist_add</i>Add Category
            </a>
        </div>
    </div>

</div>
{% endblock %}
