{% extends 'parent.html' %}

{% block content %} 
<div id="description_page" class="container">
    <!--- Recipe Title --->
    <div class="row">
        <div class="col s12 center-align">
            <h3>{{ receipt.receipt_name }}</h3>
        </div>
    </div>
    <!--- Recipe Image --->
    <div class="row">
            <div class="col s12 center-align">
                {% if receipt.img_link == "" %}
                <img class="image-description" alt="Some food" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/spaghetti-puttanesca_1.jpg">
                {% else %}
                <img class="image-description" src="{{receipt.img_link}}" alt="{{receipt.receipt_name}}">
                {% endif %}
            </div>
    </div> 
        <div class="row">
        <!--- Recipe Category --->
        <div class="col s3">
            <p><strong>Category:</strong>{{receipt.category_name}} </p>
        </div>
        <!--- Serves --->
         <div class="col s3">
            <p><strong> Serves:</strong>{{ receipt.serves }}</p>
        </div>
        <!--- Time for preparetion --->
        <div class="col s3">
            <p><strong>Preparetion time:</strong> {{receipt.prep}} </p>
        </div>
        <!--- Cooking time --->
        <div class="col s3">
            <p><strong>Cooking time:</strong> {{receipt.cook_time }}</p>
        </div>
        </div>
        <!--- Ingredients for recipe--->
         <div class="row">
            <div class="col s12">
            <h6><strong>Ingredients:</strong></h6>  
            <p> {{receipt.ingredients}}</p>
            </div>
         </div>
        <!--- Recipe description --->
          <div class="row">
            <div class="col s12"> 
            <h6><strong>Description:</strong></h6>  
            <p> {{receipt.description}}</p>
            </div>
         </div>
        <!--- Buttons --->
        <div class="row">
            <a class="btn waves-effect waves-light" href="{{url_for('edit_receipt', receipt_id = receipt._id)}}">Edit Recipe
            <i class="material-icons right">note</i></a>
            <a class="btn waves-effect waves-light grey" href="{{url_for('delete_receipt', receipt_id = receipt._id)}}">Delete Recipe
            <i class="material-icons right">delete</i></a>
            <a class="btn waves-effect waves-light red" href="{{url_for('get_receipts')}}">
            <i class="material-icons left">close</i>Cancel</a>
        </div>
</div>
{% endblock %}