{% extends 'parent.html' %}

{% block content %} 
<div id="description_page" class="container">
    
    <div class="row">
        <div class="col s12 center-align">
            <h3>{{ receipt.receipt_name }}</h3>
        </div>
    </div>

    <div class="row">
            <div class="col s12 center-align">
                {% if receipt.img_link == "" %}
                <img class="image-description" alt="Some food"
                    src="https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/WBC_7095.jpg?format=1500w">
                {% else %}
                <img class="image-description" src="{{receipt.img_link}}" alt="{{receipt.receipt_name}}">
                {% endif %}
            </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l4">
          <i class="material-icons prefix">people</i>
          <input id="serves" name="serves" type="text" class="validate" value="{{receipt.serves}}">
          <label for="icon_telephone">Serves</label>
        </div>
        <div class="input-field col s12 l4">
          <i class="material-icons prefix">schedule</i>
          <input id="prep" name="prep" type="text" class="validate" value="{{receipt.prep}}">
          <label for="icon_telephone">Prep. min.</label>
        </div>
        <div class="input-field col s12 l4">
          <i class="material-icons prefix">schedule</i>
          <input id="cook_time" name="cook_time" type="text" class="validate" value="{{receipt.cook_time}}">
          <label for="icon_telephone">Cook min.</label>
        </div>
        <div class="input-field col s12 l12">
          <i class="material-icons prefix">shopping_basket</i>
          <input id="ingredients" name="ingredients" type="text" class="validate" value="{{receipt.ingredients}}">
          <label for="icon_telephone">Ingredients</label>
        </div>
        <div class="input-field col s12 l12">
          <i class="material-icons prefix">book</i>
          <input id="description" name="description" type="text" value="{{receipt.description}}">
          <label for="icon_telephone">Receipt Description</label>
        </div>
      </div>
</div>
{% endblock %}