{% extends 'parent.html' %} 
{% block title %} All Receipts {% endblock %}

{% block content %} 
<div class="container">
 <div class="row">
    {% for receipt in receipts %}
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                    <img src="{{receipt.img_link}}" alt="receipt_image">
                    <a href="#" class="halfway-fab btn-floating pink pulse"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                    <span class="card-title">{{receipt.receipt_name}}</span>
                    </div>
                    <div class="card-action">
                    <a href="{{ url_for('receipt_description', receipt_id = receipt._id)}}"> Full receipt</a>
                    </div>
                </div>
            </div>
    {% endfor %}
     </div>
</div>
{% endblock %}