{% extends 'parent.html' %} 
{% block title %} Receipts {% endblock %}

{% block content %} 
<div class="container">
<h1>Only Pasta_Receipts</h1>
 <div class="row">
    {% for receipt in receipts %}
        
       
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                    <img src="{{receipt.img_link}}" alt="receipt_image">
                    <a href="#" class="halfway-fab btn-floating pink pulse"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                    <span class="card-title">{{receipt.receipt_name}}</span>
                    <p>{{receipt.description}}</p>
                    </div>
                    <div class="card-action">
                    <a href="#"> View </a>
                    <a href="#"> Full receipt</a>
                    </div>
                </div>
            </div>
    {% endfor %}
     </div>
</div>
{% endblock %}

{{receipt.receipt_name}}
{{receipt.serves}} 
{{receipt.prep}} 
{{receipt.cook_time}}
{{receipt.ingredients}}
{{receipt.description}}
{{receipt.img_link}}