{% extends 'parent.html' %} 
{% block title %} Receipts {% endblock %}

{% block content %} 
<h1>Main Page</h1>
    <div class="row container">
    {% for receipt in receipts %}
        <div class="col">
            <div class="card medium">
                <div class="card-image card-image-size">
                    <img class="image-description" alt="Some food" src="https://smittenkitchendotcom.files.wordpress.com/2007/02/baked-tomato-sauce.jpg?w=640">
                    <span class="card-title"> {{receipt.receipt_name}} </span>
                </div>
                <div class="card-content">
                <p>{{receipt.description}}</p>
                </div>
                <div class="card-action">
                <a class="red-color" href="">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}

{{receipt.receipt_name}}
{{receipt.serves}} 
{{receipt.prep}} 
{{receipt.cook_time}}
{{receipt.ingredients}}
{{receipt.description}}